*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header{
    height: 84px;
    width: 100%;
    background-color: white;
}

.bottom_header{ /*bottom part of the header */
    display: flex;
    align-items: left;
    justify-content: space-between;
}

#logo{ /*css for the main logo*/
    width: 220px;
    height: auto;
    padding: 0 20px 0 20px;
    margin: 10.2px 0 6.2px 80px;
}
.searchform{
    width: 40%;
    margin-left: 30px;
}
.searchbar{
    border: 1px solid #888888;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 17px;
    height: 40px;
    width: 80%;
    margin: 21.2px 0 21.2px 0;
    padding: 0 0 0 20px;
    float: left;
}
.searchbar:focus {
    outline: none;
    border: 1px solid #888888;
    border-right: none;
}
.searchbar::placeholder{
    color: #888888;
}
.searchbutton{
    float: left;
    width: 10%;
    height: 40px;
    font-size: 17px;
    margin: 21.2px 0;
    padding: 5px 10px 35px 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background-color: red;
    border-radius: 0 10px 10px 0;
}
.searchbutton img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
/******************************header icon*****************************/
.header_icon{
    display: flex;
    float: left;
    width: 30%;
    text-decoration: none;
    border: 1px solid #888888;
    border-radius: 10px;
    height: 45px;
    margin: 18.7px 10px;
    background-color: #CF0A0A;
}
.header_icon img{
    margin: 0 0 0 10px;
    padding: 10px 0 10px 10px;
}
.header_label{
    display: flex;
    float: left;
    margin: 2.5px 0;
    padding: 10px 10px;
    text-align: center;
    color: #EEEEEE;
    font-size: 17px;   
    height: fit-content;
}











.fcontainer{
    background-color: white;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
    justify-content: space-between;
    
}

.fcontainer>.left{
    width: 30%;
    padding-right: 10px;
    border-right: 1px solid lightgray;
}

.fcontainer>.right{
    width:60%;
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
}
.fcontainer h3{
    font-size: 16px;
}
.fcontainer li{
    list-style-type: none;
    padding: 5px;
}
.fcontainer ul{
    padding: 0;
}
.left>div{
    padding: 5px;
    font-size: 13px;
}
.fcontainer a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.fcontainer a:hover{
    color: #CF0A0A;
}
.fcol{
    margin: 10px;
}