/* #categoryIcon{ 
    margin: 13.5px 0 13.5px 0;
    width: 40px;
    height: 40px;
}
.dropdownMenu{ 
    position: relative;
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
}
.dropdownContent{
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 20px;
    background-color: #FFFEFE;
    font-weight: bold;
    margin-right: 20px;
}
.dropdownContent>ul>li{
    margin: 10px 0 0 0;
    list-style-type: none;
}
.dropdownContent>ul>li>a:link{
    text-decoration: none;
}
.dropdownMenu:hover .dropdownContent{
    display: block;
} */

/*///////////////////////////////////////////////////////////body///////////////////////////////////////////////////////////////////*/
.main_body{
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
/* ///////////////////////////category icon////////////////////////////// */
.category_box{
    min-height: 550px;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 0 10px 10px 10px;
    width:100%;
    position: relative;
}
.tab{
    overflow: hidden;
    /* display:flex; */
    justify-content:flex-start;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
}
.tab button {
    background-color: #EEEEEE; 
    color: #000000;
    border: 0.5px solid #CF0A0A;
    border-radius: 30px;
    margin: 10px 20px;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    display: flex;
    transition: 0.4s;
}
.tab button:hover{
    background-color: #CF0A0A;
    color: #EEEEEE;
}
.tab button.active{
    background-color: #CF0A0A;
    color: #EEEEEE;
}
/*/////////////////////////category content upper////////////////////////////////*/
.tabcontent{
    width: 100%;
    justify-content: space-between;
    margin: auto;
    float: left;
}
.product_container{
    width: 20%;
}
.product_container:hover{
    background-color: #EEEEEE;
    transition: 0.4s;
    border-radius: 10px;
}
.product_container .product_image{
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 300px;
    overflow:hidden;
}
.product_container .product_image img{
    width: 50%;
    height:auto;
    align-self: center;
    margin: auto;
}

/*/////////////////////////category content bottom////////////////////////////////*/
.product_bottom{
    width: 100%;
}
.product_bottom .title {
    height: 42px;
    overflow: hidden;
    padding: 0 20px;
}
.product_bottom .title a{
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
    color: #333333;     
}
/*//////////////////////////////price/////////////////*/
.product_price{
    margin: 20px;
}
.product_price .newprice{
    margin: 0;
    color: #CF0A0A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.product_price .newprice span{
    font-size: medium;
    background-color: #CF0A0A;
    color: #EEEEEE;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}
.product_price .oldprice{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #888888;
    text-decoration: line-through;
}
.buyContainer {
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}

.buyContainer .buyNow, .buyContainer .addCart{
    padding: 10px 20px;
    align-self: center;
    background-color: #CF0A0A;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
/*/////////////slider////////////////*/
.mySlides{
    display: flex;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }
.sliderButton{
    position: absolute;
    background-size: 24px 24px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 8px #00000029;
    background-color: white;
    top: 50%;
    border-radius: 20px;
    margin: 0px;
    z-index: 10;
    background-image: url(../images/home/body/next.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#slider_next{
    transform:  translate(0, 50%);
    right: -16px;
}
#slider_prev{
    transform: rotate(-180deg) translate(0, -50%);
    left: -16px;
}
.sliderButton:disabled{
    background-color: #888888;
}


/*////////////////////danh sach san pham//////////////////////////////*/
.productList{
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.productFilter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1px solid #eeeeee;
}
.productFilter p{
    font-size: larger;
}
.Filter{
    display: inline-block;
    position: relative;
    height: fit-content;
}
.dropBtn{
    border: none;
    padding: 10px 40px;
    background-color: #CF0A0A;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: large;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: white;
    border: 0.5px solid #888888;
    min-width: 300px;
}
.dropdownContent div{
    display: flex;
    font-size: larger;
    margin: 10px;
}
.Filter:hover .dropdownContent{
    display: block;
}
.listContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dropdownContent2{
    display: none;
    position: absolute;
    background-color: white;
    border: 0.5px solid #888888;
    width: 1000px;
}
.Filter:hover .dropdownContent2{
    display: block;
}
/*////////////////xem them///////////////////////*/
.category_expand{
    height: auto;
    margin: 20px auto;
    width: 10%;
    padding: 10px;
    border-radius: 30px;
    border: 0.5px solid #CF0A0A;
    background-color: #EEEEEE; 
    color: #000000;
    float: left;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
}

.category_expand:hover{
    background-color: #CF0A0A;
    color: #EEEEEE;
}






.product_container2{
    width: 20%;
}
.product_container2:hover{
    background-color: #EEEEEE;
    transition: 0.4s;
    border-radius: 10px;
}
.product_container2 .product_image{
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 300px;
    overflow:hidden;
}
.product_container2 .product_image img{
    width: 50%;
    height:auto;
    align-self: center;
    margin: auto;
}