.container {
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}
.firstRow {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;    
    padding: 10px 0;
    border-bottom: 1px solid #a8a7a7;
}
.col2 {
    width: 50%;
    display: flex;
}

.col1 {
    width: 10%;
    text-align: center;
}
.productRow {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.orderIn4 {
    background-color: #fff;
    border-radius: 10px 10px 0 0    ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 0.5px solid #eee;
    box-shadow: rgba(75, 75, 75, 0.2) 0px 2px 8px 0px;
    }
.orderStatus {
    width: 20%;
}
.receiveInfo {
    width: 40%;
}
.orderDate, .total {
    width: 10%;
    text-align: center;
}
.product {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productInfo {
    background-color: #fff;
    width: 100%;
    display: flex;
    box-shadow: rgba(75, 75, 75, 0.2) 0px 2px 8px 0px;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
}
.imgHolder{
    max-width: 50%;
}
.imgHolder img{
    width: 100px;
}
.title {
    padding-left: 20px;
}
.oldPrice{
    color: #888888;
}
.newPrice, .totalPerItem {
    font-size: 18px;
    font-weight: bold;
    color: #CF0A0A;
}