* {box-sizing: border-box}
        
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66%; /* Adjusted width to fit six tabs */
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {

  display: flex;
  flex-direction: column;
  width:85%;
  padding: 100px 20px;
  min-height: 100%;
  margin: auto;
}
.filter{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sorter>h1{
  color: #777;
  font-size: 48px;
}
.sorter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 10px;
}
.sort-select{
  height: 50px;
  width: 30%;
  font-weight: 600;
  font-size: 15px;
  padding-left: 20px;
  align-self: center;
  font-weight: 700;
}
.filter-section{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter-select{
  width: 25%;
  height: 40px;
  font-size: 15px;
  
  position: relative;
}
.filter-select:hover>.filter-checkbox{
  display: block;
}
.filter-select:hover>.filter-subtitle>i{
  rotate: 180deg;
}
.filter-item{
  width: 15%;
  height: 40px;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  border-right: solid 1px #ababab;
}

.filter-subtitle{
  width: 100%;
  height: 100%;
  border: solid 1px #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.filter-subtitle>span{
  padding-left: 10px;
  height: 50%;
  font-size: 18px;
}
.filter-subtitle>i{
  
  padding-right: 10px;
  padding-left: 10px;
  height: 50%;
  font-size: 18px;
  transition:ease .5s;
}
.filter-checkbox{
  width: 100%;
  height: fit-content;
  display: none;
 z-index: 1;
  position: absolute;
  top: 40px;
  border: solid 1px #c8c8c8;
  background-color: white;
}
.filter-checkbox>ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.filter-checkbox>ul>li{
padding-left: 10px;
padding-top: 10px;
}
.filter-checkbox>ul>li>label{
  font-size: 18px;
}
.filter-checkbox>ul>li>input{
  width: 15px;
  height: 15px;
  border-color: #777;
}
.color-checkbox{
  
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
  display: none;
  cursor: pointer;
 
}
.color-ul{
  position: relative;
}
.color-li{
  position: relative;
  float:left;
  margin: 0 15px 10px 0;
}
.filter-color{
  width: 20px;
  height: 20px;
  font-size: 0px !important;
  position: relative;
  float: left;
  border-radius: 50%;
  border: solid .5px rgb(195, 195, 195);
  
}
.color-active{
  border: solid 2px red;
}

/* product */
.product-list{
  width: 100%;
  min-height: 50%;
  align-items: center;
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  margin:0 auto 0 auto;
  position: relative;
  flex-wrap: wrap;
}

.product-single{
  width: 20%;
  height: 90%;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 30px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px #cccccc;
 
}
.product-single:hover{
  box-shadow:2px 2px  rgb(229, 229, 229);
  scale: 1.1;
}
.product-link{
  width: 100%;
  height: 300px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
}
.product-single>a>.product-img{
  width: 253px;
  height:253px;
  border: none;
  
}
.product-single>.product-img:hover,.product-single>.product-name:hover{
  cursor: pointer;
}
.product-img>img{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px 10px 0 0 ;
}
.product-single>.product-name{
  width: 90%;
  height: 10%;
  

}
.product-single>.product-name>p{
  width: 100%;
  
  font-size: 1.25em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0 0 0 ;
  -webkit-line-clamp: 2;

}
.product-single>.product-price{
  width: 90%; 
  display: flex;
}
.product-single>.product-price>p{
  font-size: 18px;
  text-align: left;
  margin: 20px 0 0 10px ;
  color: red;
  font-weight: 800;

}
.price-discount{
  height: 30px;
  width:50px;
  background: red;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}
.price-discount>p{
  margin: 5px 0 0 0;
}
.buy-product{
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.buy-product>.buy{
  width: 40%;
  background-color: rgb(226, 44, 44);
  border-radius: 10px;
  padding: 5px;
  border: none;
  color: #ffffff;

}

.buy-product>form{
  width: 50%;
}
.buy-product>form>.addcart{
  width: 90%;
  background-color: rgb(226, 44, 44);
  border-radius: 10px;
  padding: 5px;
  border: none;
  color: #ffffff;
}
.buy:hover, form>.addcart:hover{
  background-color:rgb(213, 90, 90) ;
  color: rgb(210, 210, 210);
}
.buy-btn-link{
  color: white;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
}