.formContainer{
    margin-bottom: 50px;
}
h4{
    text-align: center;
}

.form-group{
    margin: 10px 10px 0px;
}

.form-control{
    width:98%;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}

.font-group label{
    font-weight: bold;
}

.submit-button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: #18647f;
    color: white;
    cursor: pointer;
    width: 20%;
    height: 50px;
    margin-left: 40%;
    margin-bottom: 20px;
}

form input{
    height: 20px;
}